@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,700);


body {
  font-family: 'Montserrat', sans-serif;
}

.newMovies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.newMovies a {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

@media(min-width: 576px) {
  .newMovies {
    justify-content: space-between;
  }
  .newMovies a {
    width: 48%;
  }
}

@media(min-width: 768px) {
  .newMovies a {
    width: 31.5%;
  }
}

@media(min-width: 992px) {
  .newMovies a {
    width: 23%;
  }
}

.movieLink {
  position: relative;
}

.movieInfo {
    visibility: hidden;
    background-color: rgba(255,255,255,0.9);
    position: relative;
    top: -40px;
    left: 0;
    height: 40px;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movieTitle{
  margin-top: -30px;
  font-weight: 400;
}
.movieLink:hover .movieInfo {
  opacity: 1;
  visibility: visible;
}
.shop-container{
  width: auto;

}
.shop-raw{
    margin: 60px 0px 0px 130px;
    width: 300px;
    height: 330px;
    display: inline-block;
    perspective: 1000px;

}
.shop{
  width: 900px;
}
.total{
 padding-left: 190px;
}